scikit-learn
sentence-transformers
pandas
asyncpg
fastapi
pydantic
ultralytics
Pillow
transformers
torch
mlxtend
scipy
numpy
uvicorn
pydantic-settings
python-multipart
faiss-cpu

PyJWT[crypto]
opencv-python
pymongo

insightface
onnxruntime
mediapipe